name: Upload to Anaconda.org

on:
  release:
    types: [published]
    
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          micromamba-version: latest
          environment-name: build
          create-args: >-
            python=3.11
            conda-build
            anaconda-client

      - name: Build and upload conda package
        shell: bash -l {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          conda build conda --output-folder conda-out --token "$ANACONDA_API_TOKEN" --user Ensor
  test:
    needs: publish
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          micromamba-version: latest
          environment-name: build
          create-args: >-
            python=${{ matrix.python-version }}
            conda-build
            anaconda-client
      - name: Install plons from Anaconda.org
        shell: bash -l {0}
        run: |
          conda install pytest>=7
          conda install -c ensor plons
          pip install sarracen
      - name: Test with pytest
        shell: bash -l {0}
        run: |
          pytest
